---
- name: Ensure TreeSitter dependencies are installed.
  ansible.builtin.package:
    name:
      - base-devel
    state: present
  become: true

- name: Insert TreeSiter block in plugins/packer.lua
  ansible.builtin.blockinfile:
    path: "{{ plugins_dir }}/packer.lua"
    marker: "  -- {mark} ANSIBLE MANAGED BLOCK: TREESITTER"
    insertbefore: "--> regular plugins end"
    block: |2
        use {
              'nvim-treesitter/nvim-treesitter',
              run = ':TSUpdate'
        }
        use 'nvim-treesitter/nvim-treesitter-refactor'
  notify: PackerSync

- name: Copy TreeSitter configuration files.
  ansible.builtin.copy:
    src: files/lua/plugins/treesitter.lua
    dest: "{{ plugins_dir }}/{{ item }}.lua"
    mode: "0644"
  loop:
    - treesitter
    - treesitter-refactor
  notify: PackerSync

- name: Require TreeSitter plugins in init.lua
  ansible.builtin.lineinfile:
    path: "{{ nvim_dir }}/init.lua"
    search_string: "require('plugins.{{ item }}')"
    line: "require('plugins.{{ item }}')"
  loop:
    - treesitter
    - treesitter-refactor
