-- {{ ansible_managed }}

local lsp_flags = {
  -- This is the default in Nvim 0.7+
  debounce_text_changes = 150,
}

-- Add additional capabilities supported by nvim-cmp
local capabilities = require("cmp_nvim_lsp").default_capabilities()

local lspconfig = require('lspconfig')

{% for item in lsp_servers %}
  {% if item.enabled %}
  lspconfig["{{ item.name }}"].setup {
    on_attach = on_attach,
    capabilities = capabilities,
    flags = lsp_flags,
  }
  {% endif %}
{% endfor %}
