#jinja2: trim_blocks: True, lstrip_blocks: True
-- ### ANSIBLE MANAGED ###

return require('packer').startup(function(use)
  use 'wbthomason/packer.nvim'

  --> plugins start
{% for item in plugins + lsp_plugins + treesitter_plugins %}
  {% if item.enabled is not defined or item.enabled == true %} 
  use {
    "{{ item.repo }}",
  {% if item.tag is defined %}
    tag = "{{ item.tag }}",
  {% endif %}
  {% if item.branch is defined %}
    branch = "{{ item.branch }}",
  {% endif %}
  {% if item.run is defined %}
    run = "{{ item.run }}",
  {% endif %}
  {% if item.requires is defined %}
    requires = {
    {% for req in item.requires %}
      "{{ req }}",
    {% endfor %}
    },
  {% endif %}
  }
  {% endif %}
{% endfor %}
  --> plugins end

  -- Automatically set up your configuration after cloning packer.nvim
  -- Put this at the end after all plugins
  if packer_bootstrap then
    require('packer').sync()
  end
end)
