-- Ansible managed

return require('packer').startup(function(use)
  use 'wbthomason/packer.nvim'

  --> regular plugins start
  {% for item in packer_plugins %}
    {{ item.use }}
  {% endfor %}
  --> regular plugins end

  {% if use_lsp %}
    --> LSP plugins start
    {% for item in packer_lsp_plugins %}
      {{ item }}
    {% endfor %}
    --> LSP plugins end
  {% endif %}

  -- Automatically set up your configuration after cloning packer.nvim
  -- Put this at the end after all plugins
  if packer_bootstrap then
    require('packer').sync()
  end
end)
