#jinja2: trim_blocks: True, lstrip_blocks: True
-- Ansible managed

{% if plugin_manager == "packer" %}
require('plugins.packer')
{% endif %}

{% for item in plugins + lsp_plugins + treesitter_plugins %}
{% if (item.enabled is not defined or item.enabled == true) and item.name is defined %} 
require('plugins.{{ item.name }}')
{% endif %}
{% endfor %}

require('config.settings')
require('config.mappings')
